<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-form-field>
      <input formControlName = "name"
      matInput placeholder="Name">
    </mat-form-field>

    <div style="text-align: left;">
      <input type="file"
      #imageFile (change)="uploadFile($event.target)">
      <button type="button" (click)="imageFile.click()"
      mat-stroked-button>Image</button>
    </div>

    <div class="image" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="image preview">
    </div>

    <div style="text-align: right;">
      <button mat-raised-button color="primary">Save</button>
    </div>
  </mat-card>
</form>
